html {
  box-sizing: border-box; /* 1 */
  font-family: "Titillium Web", sans-serif; /* 2 */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  /* --main-bg-color: #9158c4; */
  --color-text: #ffffff;
  --color-text-second: #3c4761;
  --color-text-pg-7: #273a71;
  /* background-color: var(--main-bg-color); */
}
