@font-face {
  font-family: fontawsome;
  src: url(../font/fontawesome-free-5.11.2-web/webfonts/fa-solid-900.ttf);
}
@font-face {
  font-family: opensan;
  src: url(../font/OpenSans-Bold.ttf);
}
@font-face {
  font-family: Lora;
  src: url(../font/Lora-Bold.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(../font/Raleway/Raleway-Bold.ttf);
}

.ii {
  width: 85%;
  margin: 0 auto;
}

.first-text {
  /* border: 1px solid black; */
  margin-bottom: 2%;
  font-family: Lora;
}
.what-we-are-doing {
  margin-top: 5%;
  margin-bottom: 0px;
  font-size: 10px;
}
.service {
  font-size: 30px;
}
.description {
  color: #808080;
  width: 43%;
  margin: 0 auto;
  font-family: OpenSans;
  margin-bottom: 8%;
}
.icon {
  margin: 10% auto;
  font-family: fontawsome;
  font-size: 40px;
  line-height: normal;
  color: #18191b;
  margin-bottom: 10%;
}
.container {
  /* border: 1px solid black; */
}

.dd {
  margin-bottom: 10%;
}

.detail {
  font-family: OpenSans;
  font-size: 13px;
}
li a {
  font-family: Lora;
}
h6 {
  font-size: 20px;
}

.da {
  font-size: 12px;
}
.description-who-we-are {
  margin-right: 35%;
  color: #808080;
  font-family: OpenSans;
}
.quick-setup {
  font-family: Raleway;
}

.img-col {
  height: 100%;
  width: 100%;
}
.quick-setup {
  font-family: Raleway;
}
.btn-purchase {
  color: #ffffff;
  border: solid #4caf50;
  background-color: #4caf50;
}
/* .btn-purchase-live {
  margin-top: 10%;
  margin-left: 32%;
} */
.btn-live-demo {
  color: #4caf50;
  border: 2px solid #4caf50;
  background-color: transparent;
}
.text-beautiful-temp {
  font-family: Lora;
  font-size: 56px;
  font-weight: bold;
}
.btn-play {
  text-align: center;
  font-family: fontawsome;
  font-size: 30px;
  margin-top: 10%;
  margin-bottom: 5%;
  color: #808080;
}
.feature-button {
  margin-top: 5%;
}
.feature-icon {
  font-family: fontawsome;
  font-size: 60px;
  color: white;
  margin-bottom: 10%;
  background-color: black;
  border-radius: 50%;
  text-align: center;
  margin-left: 40%;
  margin-right: 4%;
}
.quick-setup-2 {
  font-family: opensan;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: left;
  color: #212121;
}
.detail-2 {
  opacity: 0.7;
  font-family: opensan;
  font-size: 10px;
  text-align: left;
  color: rgba(33, 33, 33, 0.7);
}
.feature-icon:hover {
  background-color: #4caf50;
}
.quick-setup-2:hover {
  color: #4caf50;
}
.our-core-feature {
  font-size: 45px;
}
.oppo-unli {
  margin-top: 8%;
  margin-bottom: 0px;
  font-size: 13px;
}

.yy {
  background-color: red;
}

.yy:hover {
  background-color: #4caf50;
}
