@font-face {
  font-family: fontawsome;
  src: url(../font/fontawesome-free-5.11.2-web/webfonts/fa-solid-900.ttf);
}
@font-face {
  font-family: opensan;
  src: url(../font/OpenSans-Bold.ttf);
}
@font-face {
  font-family: Lora;
  src: url(../font/Lora-Bold.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(../font/Raleway/Raleway-Bold.ttf);
}

.first-text {
  margin-bottom: 2%;
  font-family: Lora;
}
.what-we-are-doing {
  margin-top: 5%;
  margin-bottom: 0px;
  font-size: 10px;
}
.service {
  font-size: 30px;
}
.description {
  color: #808080;
  width: 43%;
  margin: 0 auto;
  font-family: OpenSans;
  margin-bottom: 8%;
}
.icon {
  margin: 10% auto;
  font-family: fontawsome;
  font-size: 40px;
  line-height: normal;
  color: #18191b;
  margin-bottom: 10%;
}
.container {
  margin-bottom: 10%;
}

.detail {
  font-family: OpenSans;
  font-size: 13px;
}
li a {
  font-family: Lora;
}
h6 {
  font-size: 20px;
}
