@font-face {
  font-family: fontawsome;
  src: url(../font/fontawesome-free-5.11.2-web/webfonts/fa-solid-900.ttf);
}
@font-face {
  font-family: opensan;
  src: url(../font/OpenSans-Bold.ttf);
}
@font-face {
  font-family: Lora;
  src: url(../font/Lora-Bold.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(../font/Raleway/Raleway-Bold.ttf);
}

.ii {
  width: 85%;
  margin: 0 auto;
}

.first-text {
  /* border: 1px solid black; */
  margin-bottom: 2%;
  font-family: Lora;
}
.what-we-are-doing {
  margin-top: 5%;
  margin-bottom: 0px;
  font-size: 10px;
}
.service {
  font-size: 30px;
}
.description {
  color: #808080;
  width: 43%;
  margin: 0 auto;
  font-family: OpenSans;
  margin-bottom: 8%;
}
.icon {
  margin: 10% auto;
  font-family: fontawsome;
  font-size: 40px;
  line-height: normal;
  color: #18191b;
  margin-bottom: 10%;
}
.container {
  /* border: 1px solid black; */
}

.dd {
  margin-bottom: 10%;
}

.detail {
  font-family: OpenSans;
  font-size: 13px;
}
li a {
  font-family: Lora;
}
h6 {
  font-size: 20px;
}

.da {
  font-size: 12px;
}
.description-who-we-are {
  margin-right: 35%;
  color: #808080;
  font-family: OpenSans;
}
.quick-setup {
  font-family: Raleway;
}
.col-3 {
  /* border: 1px solid black; */
}
.col-9 {
  /* border: 1px solid black; */
}
.col {
  height: 100%;
  /* border: 1px solid black; */
}
.img-col {
  height: 100%;
  width: 100%;
}
