ul {
  /* border: 1px solid black; */
  width: 36%;

  display: inline-block;
  list-style-type: none;
}
li {
  padding: 4px;
  font-size: 15px;
  margin-left: 4px;
  margin-right: 4px;
  display: inline;
}
li a {
  color: #8d8d8d;
}

.active {
  color: #4caf50;
}

li a:hover {
  color: #4caf50;
}

.logo {
  margin-right: 25%;
  width: 12%;
  display: inline-block;
  /* border: 1px solid black; */
}
.menu {
  text-align: center;
  margin-top: 2%;
}
