ul {
  /* border: 1px solid black; */
  width: 36%;

  display: inline-block;
  list-style-type: none;
}
li {
  padding: 4px;
  font-size: 15px;
  margin-left: 4px;
  margin-right: 4px;
  display: inline;
}
li a {
  color: #8d8d8d;
}

.active {
  color: #4caf50;
}

li a:hover {
  color: #4caf50;
}

.logo {
  margin-right: 25%;
  width: 12%;
  display: inline-block;
  /* border: 1px solid black; */
}
.menu {
  text-align: center;
  margin-top: 2%;
}
.text-service{
  text-align: center;
  width: 763px;
  height: 38px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 0.35px;
  color: #808080;
}
.What-we-are-doing-Service {
  width: 184px;
  font-family: Lora;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.14;
  letter-spacing: normal;
  text-align: center;
  color: #212121;
  font-size: 44px;
  font-weight: bold;

}

.icon {
  width: 53px;
  height: 48px;
  font-family: icomoon;
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.2px;
  text-align: left;
  color: #18191b;
}

.icon-quick-setup{
  margin-top: 150px;
}
